<div class="hero-image">
  <div class="topnav">
    <ul class="menu">
      <li class="item"><a href="#">Projects</a></li>
      <li>
        <%= link_to 'About me', about_index_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
  <div class="hero-text">
    <h1>Kyle Williamson</h1>
    <h2>Web Developer</h2>
    <button>Contact me</button>
  </div>
</div>

<div class="about">
  <div class="about-text">

  </div>
</div>
