<div class="projects-animation-area">

<div class="aboutnav">
  <ul class="menu">
    <li>
      <%= link_to 'Home', root_path, class: 'nav-link' %>
    </li>
    <li>
      <%= link_to 'About Me', about_index_path, class: 'nav-link' %>
    </li>
    <li>
      <%= link_to 'Contact me', new_contact_path, class: 'nav-link' %>
    </li>
  </ul>
</div>

  <div class="animation-area-text">
 
  </div>


<div class="row">
  <div class="column">
    <h2>Project 1</h2>
    <p>Some text...</p>
  </div>
  <div class="column">
    <h2>Project 2</h2>
    <p>Some text...</p>
  </div>
  <div class="column">
    <h2>Project 3</h2>
    <p>Some text...</p>
  </div>
</div>

</div>
    <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

