<div class="projects-animation-area">

<div class="aboutnav">
  <ul class="menu">
    <li>
      <%= link_to 'Home', root_path, class: 'nav-link' %>
    </li>
    <li>
      <%= link_to 'About Me', about_index_path, class: 'nav-link' %>
    </li>
    <li>
      <%= link_to 'Contact me', new_contact_path, class: 'nav-link' %>
    </li>
  </ul>
</div>

<div class="projects_title">
    <h1>Some Projects</h1>
</div>

<hr class="hr">

<div class="row">
  <div class="column">
    <h2>Omnifood</h2>
  </div>
  <div class="column">
    <h2>Grammable</h2>
  </div>
  <div class="column">
    <h2>Project 3</h2>
  </div>
</div>

</div>

    <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

