<div class="animation-area">

  <div class="aboutnav">
    <ul class="menu">
      <li>
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to 'Portfolio', root_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>

  <div class="animation-area-text">
    <h1>Kyle Williamson</h1>
      <h2>Web Developer</h2>
      <button>
          <%= link_to 'Contact Me', contacts_path, class: 'nav-link' %>
        </button> 
  </div>

    <ul class="about-box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    
</div>