<div class="about-animation-area">

  <div class="aboutnav">
    <ul class="menu">
      <li>
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to 'Portfolio', projects_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to 'Contact me', new_contact_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>

  <div class="animation-area-text">
    <h1>About Me</h1>
    <p>Hello there. My name is Kyle Williamson, and I am a certified Full-Stack Web Developer. 
       I was born and raised here in Colorado, and I've always had a passion for technology. 
       As a child, my dream was to get into game design, specifically as an artist. It was just 
       last year, in 2019, that I became interested in coding and found that I really love it!</p>

    <p>I just graduated an online coding boot camp through the University of Denver. 
       The course mainly focused on the programming language, Ruby, as well as its framework, 
       Ruby on Rails. During this course I completed different projects and challenges, 
       much of which can be seen on Github. Now I am determined to continue down this path, 
       and I'm excited for a future full of opportunities to create amazing websites and 
       applications. </P>
  </div>

</div>
    <%# <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul> %>

