<div class="about-animation-area">

  <div class="aboutnav">
    <ul class="menu">
      <li>
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to 'Portfolio', projects_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to 'Contact me', new_contact_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>

  <div class="animation-area-text">
    <h1>About Me</h1>
    <p>Hello. My name is Kyle and I'm a Web Developer. 
    I graduated the University of Denver's Coding Bootcamp on February 10th, 2020 
    and received my certificate. This course's main subject was the Ruby language and
    Ruby on Rails. Throughout the course, I was walked through building multiple small
    web applications using Rails along with HTML and CSS of course. Then eventually some Javascript
    and Jquery. My focus now is to continue growing my skills as a Web Developer and learn more
    in the ever-evolving world of programming.</P>
    
    <P>Currently continuing to gain knowlege in JavaScript for front end. Then I plan to learn
    Node.js as well as React.</p>

  </div>

</div>
    <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

